table {
  font-family: "Courier New";
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th {
  margin: 1em 0.2em;
  background: #12ab12;
  color: #eee;
}

tbody tr:nth-child(2n) {
  background: #eee;
}

tbody tr:nth-child(2n+1) {
  background: #ddd;
}
